# How to Load SQL Files

### CURD=Create Update Read Delete

In [19]:
import pandas as pd
import sqlite3

In [22]:
con=sqlite3.connect("Desktop/weather_2012.sqlite")
con

In [23]:
df=pd.read_sql("SELECT * from weather_2012 LIMIT 3",con)
df

   id            date_time  temp
0   1  2012-01-01 00:00:00  -1.8
1   2  2012-01-01 01:00:00  -1.8
2   3  2012-01-01 02:00:00  -1.8

In [24]:
df=pd.read_sql("SELECT * from weather_2012 LIMIT 3",con,index_col='id')
df

              date_time  temp
id
1   2012-01-01 00:00:00  -1.8
2   2012-01-01 01:00:00  -1.8
3   2012-01-01 02:00:00  -1.8

In [25]:
df=pd.read_sql("SELECT * from weather_2012",con,index_col='id')
df

               date_time  temp
id
1    2012-01-01 00:00:00  -1.8
2    2012-01-01 01:00:00  -1.8
3    2012-01-01 02:00:00  -1.8
4    2012-01-01 03:00:00  -1.5
5    2012-01-01 04:00:00  -1.5
..                   ...   ...
96   2012-01-04 23:00:00  -9.6
97   2012-01-05 00:00:00  -8.8
98   2012-01-05 01:00:00  -7.5
99   2012-01-05 02:00:00  -5.4
100  2012-01-05 03:00:00  -5.0

[100 rows x 2 columns]

In [26]:
df.columns

Index(['date_time', 'temp'], dtype='object')

In [27]:
weather_df=pd.read_csv('https://raw.githubusercontent.com/reddyprasade/Data-Sets-For-Machine-Learnig-and-Data-Science/master/DataSets/weather_2012.csv')

In [29]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [31]:
con = sqlite3.connect("Desktop/test_db.sqlite")
con

In [32]:
con.execute("DROP TABLE IF EXISTS weather_2012")

In [33]:
weather_df.to_sql("weather_2012",con)

c:\users\91833\appdata\local\programs\python\python37\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [34]:
con = sqlite3.connect("Desktop/test_db.sqlite")
df=pd.read_sql("SELECT * from weather_2012 LIMIT 3",con)
df

,index,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"

In [37]:
con = sqlite3.connect("Desktop/test_db.sqlite")
df=pd.read_sql("SELECT * from weather_2012 ORDER By Weather",con)
df

,index,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,67,2012-01-03 19:00:00,-16.9,-24.8,50,24,25.0,101.74,Clear
1,114,2012-01-05 18:00:00,-7.1,-14.4,56,11,25.0,100.71,Clear
2,115,2012-01-05 19:00:00,-9.2,-15.4,61,7,25.0,100.80,Clear
3,116,2012-01-05 20:00:00,-9.8,-15.7,62,9,25.0,100.83,Clear
4,117,2012-01-05 21:00:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...,...
8779,6188,2012-09-14 20:00:00,16.5,15.8,96,22,16.1,101.06,"Thunderstorms,Rain Showers"
8780,4323,2012-06-29 03:00:00,19.5,16.1,81,7,9.7,99.71,"Thunderstorms,Rain Showers,Fog"
8781,4761,2012-07-17 09:00:00,22.9,21.3,91,17,9.7,99.84,"Thunderstorms,Rain Showers,Fog"
8782,5108,2012-07-31 20:00:00,22.4,18.7,80,35,9.7,100.64,"Thunderstorms,Rain Showers,Fog"
8783,4757,2012-07-17 05:00:00,20.6,18.6,88,19,4.8,100.08,"Thunderstorms,Rain,Fog"

## Connecting to other kinds of database

In [ ]:
import MySQLdb
con=MySQLdb.connect(host='localhost',db='test')

#### To connect to a postgre SQL database

In [ ]:
import psycopg2
con=psycopg2.connect(host='localhost')