In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (0.8.1)
Requirement already satisfied: pandas>=0.21 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from pandas-datareader) (0.25.3)
Requirement already satisfied: requests>=2.3.0 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from pandas-datareader) (4.5.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.21->pandas-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.21->pandas-datareader) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.21->pandas-datareader) (1.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.3.0->pandas-datareader) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.3.0->pandas-datareader) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.3.0->pandas-datareader) (2019.11.28)
Requirement already satisfied: six>=1.5 in c:\users\91833\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas-datareader) (1.14.0)

WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

# Time Series are of Three types

## 1.Treading Time Series

## 2.Seasonal Time Series

## 3.Rediculous Time Series

In [6]:
from datetime import datetime
datetime(year=2020,month=3,day=27)

datetime.datetime(2020, 3, 27, 0, 0)

In [8]:
from dateutil import parser  # parser is a compiler or interpreter component that breaks data into smaller elements for easy translation into anoyher language
date=parser.parse('27th of nov,2020')
date

datetime.datetime(2020, 11, 27, 0, 0)

In [10]:
parser.parse('06-06-1995')

datetime.datetime(1995, 6, 6, 0, 0)

In [11]:
parser.parse('06/06/1995')

datetime.datetime(1995, 6, 6, 0, 0)

# To Convert str from time we use strftime

In [12]:
date.strftime("%d")

'06'

In [13]:
date.strftime("%A")

'Tuesday'

In [14]:
date.strftime("%T")

'00:00:00'

In [15]:
date.strftime("%w")  # %w represents week of a month

'2'

In [16]:
date.strftime("%W") # %W represents week of a year

'23'

In [18]:
date.strftime("%c")

'Tue Jun  6 00:00:00 1995'

# How to create Timeseries analysis using numpy

In [19]:
date=np.array("1995-06-06",dtype=np.datetime64)
date

array('1995-06-06', dtype='datetime64[D]')

In [20]:
date+np.arange(10)

array(['1995-06-06', '1995-06-07', '1995-06-08', '1995-06-09',
       '1995-06-10', '1995-06-11', '1995-06-12', '1995-06-13',
       '1995-06-14', '1995-06-15'], dtype='datetime64[D]')

In [21]:
np.datetime64("1995-06-06 08:45:24",'ns')

numpy.datetime64('1995-06-06T08:45:24.000000000')

## using pandas

In [22]:
date=pd.to_datetime("06th june,1995")
date

Timestamp('1995-06-06 00:00:00')

In [23]:
date.strftime("%d"),date.strftime("%D")

('06', '06/06/95')

In [24]:
date.strftime("%A"),date.strftime("%a")

('Tuesday', 'Tue')

In [25]:
date.strftime("%T")

'00:00:00'

In [26]:
date.strftime("%W"),date.strftime("%w")

('23', '2')

In [27]:
date.strftime("%c")

'Tue Jun  6 00:00:00 1995'

In [28]:
date+pd.to_timedelta(np.arange(12),"d")

DatetimeIndex(['1995-06-06', '1995-06-07', '1995-06-08', '1995-06-09',
               '1995-06-10', '1995-06-11', '1995-06-12', '1995-06-13',
               '1995-06-14', '1995-06-15', '1995-06-16', '1995-06-17'],
              dtype='datetime64[ns]', freq=None)

In [29]:
date+pd.to_timedelta(np.arange(12),"w")

DatetimeIndex(['1995-06-06', '1995-06-13', '1995-06-20', '1995-06-27',
               '1995-07-04', '1995-07-11', '1995-07-18', '1995-07-25',
               '1995-08-01', '1995-08-08', '1995-08-15', '1995-08-22'],
              dtype='datetime64[ns]', freq=None)

In [30]:
date+pd.to_timedelta(np.arange(12),"y")

c:\users\91833\appdata\local\programs\python\python37\lib\site-packages\pandas\util\_decorators.py:208: FutureWarning: M and Y units are deprecated and will be removed in a future version.
  return func(*args, **kwargs)

DatetimeIndex(['1995-06-06 00:00:00', '1996-06-05 05:49:12',
               '1997-06-05 11:38:24', '1998-06-05 17:27:36',
               '1999-06-05 23:16:48', '2000-06-05 05:06:00',
               '2001-06-05 10:55:12', '2002-06-05 16:44:24',
               '2003-06-05 22:33:36', '2004-06-05 04:22:48',
               '2005-06-05 10:12:00', '2006-06-05 16:01:12'],
              dtype='datetime64[ns]', freq=None)

## indexing and slicing using in pandas

In [31]:
Date=pd.Series(date)

In [32]:
Date

0   1995-06-06
dtype: datetime64[ns]

In [33]:
index=pd.DatetimeIndex(["2014-07-01","2014-08-04","2015-07-04","2015-08-04"])
date=pd.Series(["hemanth","sachin","rohit","virat"],index=index)
date

2014-07-01    hemanth
2014-08-04     sachin
2015-07-04      rohit
2015-08-04      virat
dtype: object

In [34]:
date["2014-07-01":"2015-08-04"]

2014-07-01    hemanth
2014-08-04     sachin
2015-07-04      rohit
2015-08-04      virat
dtype: object

In [35]:
date["2015"]

2015-07-04    rohit
2015-08-04    virat
dtype: object

In [36]:
dates=pd.to_datetime([datetime(2015,7,3),'4th of july,2015','06-06-1995','14/11/1995'])
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '1995-06-06', '1995-11-14'], dtype='datetime64[ns]', freq=None)

In [37]:
dates.to_period('d')

PeriodIndex(['2015-07-03', '2015-07-04', '1995-06-06', '1995-11-14'], dtype='period[D]', freq='D')

In [38]:
dates.to_period('W')

PeriodIndex(['2015-06-29/2015-07-05', '2015-06-29/2015-07-05',
             '1995-06-05/1995-06-11', '1995-11-13/1995-11-19'],
            dtype='period[W-SUN]', freq='W-SUN')

In [40]:
dates[0]

Timestamp('2015-07-03 00:00:00')

In [41]:
dates-dates[0]  # difference between given dates

TimedeltaIndex(['0 days', '1 days', '-7332 days', '-7171 days'], dtype='timedelta64[ns]', freq=None)

In [42]:
pd.date_range("1995-06-06","10-03-2020")

DatetimeIndex(['1995-06-06', '1995-06-07', '1995-06-08', '1995-06-09',
               '1995-06-10', '1995-06-11', '1995-06-12', '1995-06-13',
               '1995-06-14', '1995-06-15',
               ...
               '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27',
               '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', length=9252, freq='D')

In [43]:
pd.date_range("1995-06-06","10-03-2020",periods=10)

DatetimeIndex(['1995-06-06 00:00:00', '1998-03-29 21:20:00',
               '2001-01-20 18:40:00', '2003-11-14 16:00:00',
               '2006-09-07 13:20:00', '2009-07-01 10:40:00',
               '2012-04-24 08:00:00', '2015-02-16 05:20:00',
               '2017-12-10 02:40:00', '2020-10-03 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [45]:
pd.date_range("1995-06-06",periods=5,freq='H')

DatetimeIndex(['1995-06-06 00:00:00', '1995-06-06 01:00:00',
               '1995-06-06 02:00:00', '1995-06-06 03:00:00',
               '1995-06-06 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [46]:
pd.date_range("1995-06-06",periods=5,freq='T')

DatetimeIndex(['1995-06-06 00:00:00', '1995-06-06 00:01:00',
               '1995-06-06 00:02:00', '1995-06-06 00:03:00',
               '1995-06-06 00:04:00'],
              dtype='datetime64[ns]', freq='T')

In [47]:
pd.date_range("1995-06-06",periods=5,freq='w')

DatetimeIndex(['1995-06-11', '1995-06-18', '1995-06-25', '1995-07-02',
               '1995-07-09'],
              dtype='datetime64[ns]', freq='W-SUN')

In [48]:
pd.date_range("1995-06-06",periods=5,freq='t')

DatetimeIndex(['1995-06-06 00:00:00', '1995-06-06 00:01:00',
               '1995-06-06 00:02:00', '1995-06-06 00:03:00',
               '1995-06-06 00:04:00'],
              dtype='datetime64[ns]', freq='T')

In [49]:
pd.date_range("1995-06-06",periods=5,freq='s')

DatetimeIndex(['1995-06-06 00:00:00', '1995-06-06 00:00:01',
               '1995-06-06 00:00:02', '1995-06-06 00:00:03',
               '1995-06-06 00:00:04'],
              dtype='datetime64[ns]', freq='S')

In [50]:
pd.date_range("1995-06-06",periods=5,freq='M')

DatetimeIndex(['1995-06-30', '1995-07-31', '1995-08-31', '1995-09-30',
               '1995-10-31'],
              dtype='datetime64[ns]', freq='M')

In [51]:
pd.date_range("1995-06-06",periods=5,freq='c')

DatetimeIndex(['1995-06-06', '1995-06-07', '1995-06-08', '1995-06-09',
               '1995-06-12'],
              dtype='datetime64[ns]', freq='C')

In [52]:
pd.date_range("1995-06-06",periods=5,freq='Y')

DatetimeIndex(['1995-12-31', '1996-12-31', '1997-12-31', '1998-12-31',
               '1999-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [58]:
pd.date_range("1995-06-06",periods=8,freq='M')

DatetimeIndex(['1995-06-30', '1995-07-31', '1995-08-31', '1995-09-30',
               '1995-10-31', '1995-11-30', '1995-12-31', '1996-01-31'],
              dtype='datetime64[ns]', freq='M')

In [56]:
pd.date_range("1995-06-06",periods=8,freq='D')

DatetimeIndex(['1995-06-06', '1995-06-07', '1995-06-08', '1995-06-09',
               '1995-06-10', '1995-06-11', '1995-06-12', '1995-06-13'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range("1995-06-06",periods=8,freq='T')

DatetimeIndex(['1995-06-06 00:00:00', '1995-06-06 00:01:00',
               '1995-06-06 00:02:00', '1995-06-06 00:03:00',
               '1995-06-06 00:04:00', '1995-06-06 00:05:00',
               '1995-06-06 00:06:00', '1995-06-06 00:07:00'],
              dtype='datetime64[ns]', freq='T')

In [59]:
pd.timedelta_range(0,periods=5,freq='H')

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00'], dtype='timedelta64[ns]', freq='H')

In [60]:
pd.timedelta_range(0,periods=5,freq='T')

TimedeltaIndex(['00:00:00', '00:01:00', '00:02:00', '00:03:00', '00:04:00'], dtype='timedelta64[ns]', freq='T')

In [61]:
pd.timedelta_range(0,periods=5,freq='D')

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq='D')

In [62]:
pd.timedelta_range(0,periods=5,freq='2H30T')

TimedeltaIndex(['00:00:00', '02:30:00', '05:00:00', '07:30:00', '10:00:00'], dtype='timedelta64[ns]', freq='150T')

In [63]:
pd.timedelta_range(0,periods=5,freq='30T')

TimedeltaIndex(['00:00:00', '00:30:00', '01:00:00', '01:30:00', '02:00:00'], dtype='timedelta64[ns]', freq='30T')

In [64]:
pd.timedelta_range(0,periods=5,freq='2H30T30s')

TimedeltaIndex(['00:00:00', '02:30:30', '05:01:00', '07:31:30', '10:02:00'], dtype='timedelta64[ns]', freq='9030S')

In [65]:
from pandas.tseries.offsets import BDay
pd.date_range("1995-06-06",periods=5,freq=BDay())

DatetimeIndex(['1995-06-06', '1995-06-07', '1995-06-08', '1995-06-09',
               '1995-06-12'],
              dtype='datetime64[ns]', freq='B')